<h4>Formularios <small> Reactivos </small></h4>
<hr>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Nombre"
               formControlName="nombre"
               [class.is-invalid] = "nombreNoValido">
        <small *ngIf="nombreNoValido" class="text-danger">
          Ingrese al menos 5 letras
        </small>       
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col">

        <input class="form-control"
               type="text"
               placeholder="Apellido"
               formControlName="apellido"
               [class.is-invalid] = "apellidoNoValido">
        <small *ngIf="apellidoNoValido" class="text-danger">
          Ingrese al menos 5 letras
        </small>         
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col">

      <input class="form-control"
             type="email"
             placeholder="Correo electrónico"
             formControlName="correo"
             [class.is-invalid] = "correoNoValido">
      <small *ngIf="correoNoValido" class="text-danger">
        Ingrese un correo valido
      </small>        
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Nombre de Usuario</label>
    <div class="col">

      <input class="form-control"
             type="text"
             placeholder="Nombre de usuario"
             formControlName="usuario"
             [class.is-invalid]="usuarioNoValido">
      <small *ngIf="usuarioNoValido" class="form-text text-danger">    
          Usuario existe
      </small>    
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password1</label>
    <div class="col">

      <input class="form-control"
             type="text"
             placeholder="Password1"
             formControlName="pass1"
             [class.is-invalid]="password1NoValido">  
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Password2</label>
    <div class="col">

      <input class="form-control"
             type="text"
             placeholder="Password2"
             formControlName="pass2"
             [class.is-invalid]="password2NoValido">  
    </div>
  </div>

  <div class="form-group row" formGroupName="direccion">
    <label class="col-2 col-form-label">Direccion</label>
    <div class="form-row col">

      <div class="col">
        <input type="text"
               class="form-control"
               placeholder="Municipio"
               formControlName="municipio"
               [class.is-invalid]="municipioNoValido"/>
        <small *ngIf="municipioNoValido" class="form-text text-danger">    
              Municipio no valido
        </small>        
      </div>

      <div class="col">
        <input type="text"
               class="form-control"
               placeholder="City"
               formControlName="city"
               [class.is-invalid]="cityNoValida"/>
          <small *ngIf="cityNoValida" class="form-text text-danger">    
              City no valida
          </small>
      </div>
    </div> 
  </div> 

  <div class="row">
    <div class="col">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Id</th>
            <th>Pasatiempo</th>
            <th>Borrar</th>
          </tr>
        </thead>
        <tbody formArrayName="pasatiempos">
          <tr *ngFor="let control of pasatiempos.controls; let i=index">
            <td>{{ i+1 }}</td>
            <td>
              <input class="form-control" type="text" [formControlName]="i"/>
            </td>
            <td><button class="btn btn-danger" (click)="borrarPasatiempo(i)">Borrar</button></td>
          </tr>
        </tbody>
      </table>

      <button class="btn btn-info mt-3 mb-5 btn-block" 
              type="button" (click)="agregarPasatiempo()" >+Agregar</button>

    </div>
  </div>      

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

  <hr>
  <pre>
    Estado de formulario: {{ forma.valid }}
    <br>
    Status: {{ forma.status }}
  </pre>
  <pre>
    {{  forma.value | json }}
  </pre>

</form>
